*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Epilogue-medium";
  src: url("./font-family/static/Epilogue-Medium.ttf");
}

@font-face {
  font-family: "Epilogue-bold";
  src: url("./font-family/static/Epilogue-Bold.ttf");
}

:root {
  --font-size-body: 1.8rem;
  --font-ff-epilogue-medium: "Epilogue-medium";
  --font-ff-epilogue-bold: "Epilogue-bold";
  --almost-white: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --medium-gray: hsl(0, 0%, 41%);
  --medium-gray-light: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --navbarBeforeElementWidth: 0;
}

body {
  font-size: var(--font-size-body);
  font-family: var(--font-ff-epilogue-medium, "sans-serif");
}

.header {
  padding: 2.2rem 1.6rem 2.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  color: var(--medium-gray);
  display: flex;
  transition: transform 0.5s ease;
}

/*a class which moves the navbar to the right*/
.move-to-right {
  transform: translateX(100%);
}

/*the gray background when the navbar is displayed in the mobile view*/
.filler {
  background-color: var(--almost-black);
  opacity: 0.6;
  flex-grow: 1;
}

.wrapper {
  overflow: scroll;
  padding: 0 1.9rem 2.1rem 2.3rem;
  width: 55%;
  max-width: 26.8rem;
  background-color: var(--almost-white);
}

.close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 3.6rem;
  margin-top: 2.1rem;
}

.navbar__list-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__list-item:hover > p,
.navbar__list-item:hover > .btn {
  color: var(--almost-black) !important;
  border-color: var(--almost-black) !important;
}

.navbar__list-item + .navbar__list-item {
  margin-top: 2.9rem;
}

.navbar__list-item--2 {
  margin-top: 0 !important;
}

.navbar__collapsed-items {
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 1s ease;
  overflow: hidden;
}

.collapse-container {
  padding: 0rem 0 0 2.2rem;
  transition: padding 1s ease;
  overflow: hidden;
}

/*a class which expand the drop down menu when the drop down icon is clicked*/
.expand-drop-down {
  grid-template-rows: 1fr;
}

.navbar__collapsed-items.expand-drop-down .collapse-container {
  padding-top: 3.3rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes size-in {
  0% {
    grid-template-rows: 0fr;
  }

  100% {
    grid-template-rows: 1fr;
  }
}

@keyframes size-out {
  0% {
    grid-template-rows: 1fr;
  }

  100% {
    grid-template-rows: 0fr;
  }
}

.icon-collapse {
  margin-left: 1.5rem;
  z-index: 1;
  height: 8px;
  width: 10px;
}

.navbar__collapsed-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__collapsed-item img {
  width: 1.8rem;
  height: 2rem;
}

.navbar__collapsed-item + .navbar__collapsed-item {
  margin-top: 1.9rem;
}

.navbar__list-item--2 .navbar__collapsed-item p {
  margin-left: 1.6rem;
}

.navbar__list-item--6 {
  margin-top: 4rem !important;
}

.navbar__list-item--7 {
  margin-top: 1.6rem !important;
}

.navbar__list-item .btn {
  border: none;
  display: block;
  width: 100%;
  color: var(--medium-gray) !important;
  font-size: 1.8rem;
  font-family: var(--font-ff-epilogue-medium);
  background-color: transparent;
}

#btn--register {
  padding: 1.3rem 1rem;
  border: 2px solid var(--medium-gray);
  border-radius: 1.8rem;
  max-width: 19.6rem;
  margin: 0 auto;
}

.main__hero-img {
  display: block;
  margin: 0 auto;
}

.main__title {
  text-align: center;
  margin-top: 5.1rem;
  margin-bottom: 2.9rem;
  padding: 0 0.3rem;
  font-family: var(--font-ff-epilogue-bold);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main__text {
  color: var(--medium-gray);
  text-align: center;
  line-height: 1.5;
  font-size: 1.7rem;
  margin: 0 auto 3.1rem;
  padding: 0 0.5rem;
  max-width: 62.7rem;
}

.main__btn {
  border: 1px solid var(--almost-black);
  background-color: var(--almost-black);
  color: var(--almost-white);
  padding: 1.7rem 2.5rem;
  border-radius: 15px;
  font-family: var(--font-ff-epilogue-bold);
  font-size: inherit;
  display: block;
  margin: 0 auto 4.7rem;
}

.main__list-of-clients {
  margin: 0 auto 9.2rem;
  padding: 0 0.5rem;
  max-width: 73rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem 1rem;
}

.main__list-of-client {
  width: 8.1rem;
}

footer {
  padding: 0 1rem 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1200px) {
  body {
    font-size: var(--font-size-body);
    font-family: var(--font-ff-epilogue-medium, "sans-serif");
    background-color: var(--almost-white);
  }

  .main-wrapper {
    max-width: 127.2rem;
    margin: 0 auto;
  }

  .header {
    padding: 2.2rem 1.6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: flex-start;
  }

  .move-to-right {
    transform: translateX(0);
  }

  .header__mobile-menu-img,
  .filler,
  .close-btn {
    display: none;
  }

  .navbar {
    position: static;
    margin-left: 6rem;
    flex-grow: 1;
  }

  .wrapper {
    overflow: unset;
    max-width: unset;
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .navbar__list-item {
    font-size: 1.6rem;
    position: relative;
  }

  .navbar__list-item--1 {
    display: none;
  }

  .navbar__list-item + .navbar__list-item {
    margin-top: 0;
    margin-left: 3.9rem;
  }

  .navbar__list-item--2 {
    margin-left: 0 !important;
  }

  .navbar__collapsed-items {
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr;
    width: auto;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 2.5rem));
  }

  .navbar__collapsed-item {
    flex-wrap: nowrap;
  }
  /*property when the drop down is not open*/
  .navbar__collapsed-items.not-open {
    display: none;
  }

  .navbar__list-item--2 .navbar__collapsed-items {
    right: 0;
  }

  .navbar__list-item--2 .navbar__collapsed-items .collapse-container {
    width: 16rem;
  }

  .navbar__list-item--3 .navbar__collapsed-items {
    left: 0;
  }

  .navbar__list-item--3 .navbar__collapsed-items .collapse-container {
    width: 12.9rem;
  }

  .collapse-container {
    padding: 2.5rem;
    background-color: var(--white);
    border-radius: 10px;
    transition: padding 1s ease;
    overflow: hidden;
  }

  /*animation for expanded drop down*/
  .navbar__collapsed-items.expand-drop-down {
    display: grid;
    animation: fade-in 0.5s forwards, size-in 0.5s forwards;
  }

  /*animation for collapsed drop down*/
  .navbar__collapsed-items.collapse {
    animation: fade-out 0.5s forwards, size-out 0.5s forwards;
  }

  .navbar__list-item--6 {
    margin-top: 0rem !important;
    margin-left: auto !important;
  }

  .navbar__list-item--7 {
    margin-top: 0rem !important;
    margin-left: 3.8rem;
  }

  .navbar__list-item .btn {
    font-size: inherit;
  }

  #btn--register {
    padding: 1.3rem 2.5rem;
  }

  /*main element*/
  .main {
    width: 86%;
    margin: 0 auto 9.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 3rem;
  }

  .main__container {
    width: calc(55% - (3rem / 2));
    flex-shrink: 0;
  }

  .main__hero-img {
    flex-shrink: 0;
    margin: 0;
    margin-top: 4.1rem;
    display: inline;
    order: 1;
    width: calc(45% - (3rem / 2));
  }

  .main__title {
    text-align: left;
    margin-top: 13.6rem;
    margin-bottom: 7rem;
    font-size: 7rem;
    width: 48.1rem;
  }

  .main__text {
    text-align: left;
    margin: 0 auto 3.1rem 0;
    line-height: 1.6;
    width: 90%;
    max-width: 43.5rem;
    margin-bottom: 5rem;
  }

  .main__btn {
    margin: 0 auto 11.2rem 0;
    padding: 2.1rem 2.5rem;
    font-size: 1.9rem;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .main__btn:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
  }

  .main__list-of-clients {
    margin: 0 auto 0 0;
    justify-content: space-between;
    max-width: 45.8rem;
  }

  .main__list-of-client {
    width: 8.1rem;
  }
}

@media (min-width: 1440px) {
  .main-wrapper {
    max-width: 149.8rem;
    margin: 0 auto;
  }

  .main {
    width: 76%;
  }

  .main__container {
    width: calc(53% - (15rem / 2));
    flex-shrink: 0;
  }

  .main__hero-img {
    flex-shrink: 0;
    margin: 0;
    margin-top: 4.1rem;
    display: inline;
    order: 1;
    width: calc(51% - (15rem / 2));
  }

  .main__title {
    margin-top: 15.6rem;
    font-size: 7.5rem;
    width: 51.5rem;
  }

  .main__btn {
    margin: 0 auto 10rem 0;
    padding: 2.1rem 2.5rem;
    font-size: 1.9rem;
  }
}
